body {
  display: flex;
  /*justify-content: center;*/
  flex-flow: column;
}

.text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  height: 150px;
}

.blocks {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.move {
  padding-left: 500px;
}
.block {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.block--red {
  background-color: red;
}

.block--blue {
  background-color: blue;
}

.block--green {
  background-color: green;
}

.block--pink {
  background-color: pink;
}

.block--gray {
  background-color: gray;
}
